In [1]:
web={
    "header":"header.html",
    "footer":"footer.html",
    "content":""
    }

In [2]:
def readfile(filename:str):
    """
    takes in a file name and reads it
    """
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
        
        return file_contents
def create_index(filename:str, filecontent:str):
    with open(filename,"w") as file_handle:
        file_handle.write(filecontent)

In [3]:
# create_index("index.html",index_content)

In [17]:
header_content=readfile(web['header'])
footer_content=readfile(web['footer'])
web['content']=df.to_html(index=False,table_id='Sales')
index_content=header_content+web['content']+footer_content
create_index('index.html',index_content)

<!-- content goes here and is generated by python -->

</body>
</html>

In [6]:
import pandas as pd
import random as r

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
x=list(range(1,11))
y=[r.randint(1,100) for i in x]

data={
    "x":x,
    "y":y
}

In [9]:
df=pd.DataFrame(data)

In [10]:
df

    x   y
0   1  57
1   2  19
2   3  32
3   4  70
4   5  98
5   6  81
6   7  34
7   8  34
8   9  13
9  10   9

In [11]:
web["content"]=df.to_html(index=False, table_id="sales")

In [12]:
web["content"]

'<table border="1" class="dataframe" id="sales">\n  <thead>\n    <tr style="text-align: right;">\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1</td>\n      <td>57</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>19</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <td>5</td>\n      <td>98</td>\n    </tr>\n    <tr>\n      <td>6</td>\n      <td>81</td>\n    </tr>\n    <tr>\n      <td>7</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <td>8</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <td>9</td>\n      <td>13</td>\n    </tr>\n    <tr>\n      <td>10</td>\n      <td>9</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
index_content=header_content+web["content"]+footer_content

In [14]:
index_content

'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta charset="UTF-8">\n    <meta http-equiv="X-UA-Compatible" content="IE=edge">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <title>Github Web Page</title>\n\n    <style>\n        h1{\n            display:block;\n            font-size: 2cm;\n            margin-top: 0.67em;\n            margin-bottom: 0.67em;\n            margin-left: 0;\n            margin-right: 0;\n            font-weight: bold;\n            font-family: \'Gill Sans\', \'Gill Sans MT\', Calibri, \'Trebuchet MS\', sans-serif;\n\n        thead{\n            background-color: green;\n            color: ghostwhite;\n            font-size: 16px\n        }\n\n    </style>\n</head>\n<body>\n\n    <h1>ABC Company Monthly Sales</h1>\n    <hr>\n    <br>\n\n<!-- anything above is default html header file -->\n<!-- page content auto generator by pythin scrpt -->\n<table border="1" class="dataframe" id="sales">\n  <thead>\n    <tr style="text-align: right;">\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>1</td>\n      <td>57</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>19</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <td>5</td>\n      <td>98</td>\n    </tr>\n    <tr>\n      <td>6</td>\n      <td>81</td>\n    </tr>\n    <tr>\n      <td>7</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <td>8</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <td>9</td>\n      <td>13</td>\n    </tr>\n    <tr>\n      <td>10</td>\n      <td>9</td>\n    </tr>\n  </tbody>\n</table><!-- content goes here and is generated by python -->\n\n</body>\n</html>'

In [15]:
create_index("index.html",index_content)